<mat-toolbar>
    <span>&nbsp;FakeLook</span>
  </mat-toolbar>
<div class="all">
<div class="container-forgotpassword">
    <h2><i class='bx bxs-lock' ></i> Find Your Password</h2>
    <h3>Please enter your username and birthdate.</h3>
    <div class="input">
        <table class=".example-form" cellspacing="0"><tr>
            <mat-form-field class="example-full-width">
                <mat-label><i class='bx bx-user'></i> User Name</mat-label>
                <input matInput ="text" [(ngModel)]="userName">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width" >
                <mat-label><i class='bx bxs-calendar'></i> BirthDate</mat-label>
                <input matInput ="text" matInput [(ngModel)]="birthdate">
              </mat-form-field>
          </tr></table>
    </div>
    <div class="forgotPassword">
        <button (click)="forgotPassword()">Search</button>
    </div>
    <div class="message">
        {{message}}
    </div>
    <div class="returnlogin">
        <button (click)="returnlogin()">Return to login</button>
    </div>
</div>
</div>
