.container-add-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 200px;
}
.message{
    min-height: 30px;
}
.button button{
    margin-top: 20px;
}
