@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: Poppins;
  color: black;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 350px;
    font-family: 'Segoe UI';
    height: 500px;
    font-family: 'Segoe UI';
    background-color: #0000000A;
}
img{
    width: 70;
    height: 70px;
}
/* .input input{
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    
    height: 7px;
    font-family: 'Segoe UI';
    background-color: transparent;
    color: black;
} */

.signup-button button{
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #3a7bd5;
    margin-top: 40px;
    color: #3a7bd5;
    cursor: pointer;
}
.loginbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginbutton button{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    /* background: linear-gradient(#3a7bd5,#3a6073); */
    background-color: #3a7bd5;
    height: 30px;
    cursor: pointer;
}
.message{
    min-height: 30px;
}
/* .example-form-field {
    width: 200px;
  } */

  .example-form {
    min-width: 250px;
    max-width: 700px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .input{
    width: 55%;
  }

  .forgot-password button{
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #3a7bd5;
    color: #3a7bd5;
    cursor: pointer;
  }
  .forgot-password button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }