<mat-toolbar>
    <span>&nbsp;FakeLook</span>
  </mat-toolbar>
<div class="main-container">
    <div class="all">
        <div class="picture">
            <img src='../assets/images/22.png' alt="No Picture">
        </div>
        <h2>Sign In</h2>
        <div class="input">
            <table class=".example-form" cellspacing="0"><tr>
    <mat-form-field class="example-full-width">
        <mat-label><i class='bx bx-user'></i> User Name</mat-label>
        <textarea matInput ="text" [(ngModel)]="userName"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" >
        <mat-label><i class='bx bxs-lock'></i> Password</mat-label>
        <textarea matInput="password" [(ngModel)]="password"></textarea>
      </mat-form-field>
  </tr></table>
            <div class="loginbutton">
                <button (click)="login()">Login</button>
            </div>
            <div class="message">
                {{message}}
            </div>
            <div class="signup-button">
                Not yet a member?
                <button (click)="signUp()">Sign Up</button>
            </div>
        </div>
</div>

  