.map-post {
    width: 5vw;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
  } 
  .post-description {
    padding: 0.5em;
    font-family: sans-serif;
    font-weight: bold;
  } 
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }